<?xml version="1.0"?>
<robot name="scene" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Import Rviz colors -->
<xacro:include filename="$(find furniture_description)/urdf/materials.xacro" />

<link name="world"/>  

<link name="human_body">
  <visual>
	<origin xyz="0 0 0.95" rpy="0 0 0" />
	<geometry>
        <mesh filename="file://$(find furniture_description)/meshes/humanbody.dae" scale="0.29 0.29 0.29"/>
	</geometry>
    <material name="Grey"/>
  </visual>
  <collision>
	<origin xyz="0 0 0.95" rpy="0 0 0" />
	<geometry>
        <mesh filename="file://$(find furniture_description)/meshes/humanbody.dae" scale="0.29 0.29 0.29"/>
	</geometry>
  </collision>
	<inertial>
      <mass value="60" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
</link>

<joint name="human_body_joint" type="fixed">
	<parent link="world" />
	<child link = "human_body" />
	<origin xyz="1.1 0 -0.85" rpy="0 0 ${-pi/2}" />  
</joint>

<!-- <link name="table">
  <visual>
	<origin xyz="0 0 0.37" rpy="0 0 0" />
	<geometry>
        <box size="1.52 0.6 0.74" />
	</geometry>
	<material name="White"/>
  </visual>
  <collision>
	<origin xyz="0 0 0.37" rpy="0 0 0" />
	<geometry>
        <box size="1.52 0.6 0.74" />
	</geometry>
  </collision>
	<inertial>
		<mass value="10" />
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
	</inertial>
</link>

<joint name="table_joint" type="fixed">
	<parent link="world" />
	<child link = "table" />
	<origin xyz="0 0.45 -0.85" rpy="0 0 0" />  
</joint>


<gazebo reference="table">
	<material>Gazebo/White</material>
	<mu1>0.2</mu1>
    <mu2>0.2</mu2>
</gazebo>

-->

<gazebo reference="human_body">
	<material>Gazebo/Grey</material>
	<mu1>0.2</mu1>
    <mu2>0.2</mu2>
</gazebo>


</robot>
