<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:include filename="$(find furniture_description)/urdf/materials.xacro" />

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "ur5_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name = "ur5_base">
	 <visual>
		<origin xyz="0 -0.2 0.42" rpy="0 0 0" />
		<geometry>
		    <box size="0.6 0.6 0.84" />
		</geometry>
		<material name="Grey"/>
	  </visual>

	<collision>
		<origin xyz="0 -0.2 0.42" rpy="0 0 0" />
		<geometry>
		    <box size="0.6 0.6 0.84" />
		</geometry>
	</collision>

	<inertial>
		<mass value="10" />
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
	</inertial>
  </link>

  <joint name="ur5_base_joint" type="fixed">
    <parent link="ur5_base" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.84" rpy="0.0 0.0 0.0" />
  </joint>

  <gazebo reference="ur5_base">
	<material>Gazebo/Grey</material>
	<mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

</robot>
